

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('password-background.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgb(15, 18, 129);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(202, 36, 36, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    color: #0c0404;
    background-color: rgb(52, 58, 166);

}

input::placeholder {
    color: #434343; /* Change placeholder text color */
}


button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#password {
    margin-top: 20px;
    font-weight: bold;
    word-break: break-all;
}
