

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('password-background.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgb(33, 37, 140);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(202, 36, 36, 0.1);
    text-align: center;

}

h1 {
    margin-bottom: 20px;
    color: aliceblue;
}

label {
    display: block;
    margin-bottom: 10px;
    color: aliceblue;

}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    color: #080000;
    background-color: rgb(148, 150, 193);

}

input::placeholder {
    color: #0c0303; /* Change placeholder text color */
    text-align: center;
}


button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #aacaec;
    transform: scale(1.1);
}

#password {
    margin-top: 20px;
    font-weight: bold;
    word-break: break-all;
    color: aliceblue;
}
